html {
    height: 100%;
    background: #181A1F;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

body {
    height: 100%;
    margin: 0;
    color: #ABB2BF;
}

h1 {
    font-size: 4vh;
    margin-bottom: 0.5em;
}

h2 {
    font-size: 3vh;
    margin-bottom: 0.5em;
}

p {
    font-size: 2vh;
}

hr {
    width: 120%;
    margin-left: -10%;
}

.grid {
    height: 100%;
    display: grid;
    align-items: center;
    justify-items: center;
}

.text-green {
    color: #98C379;
}

.text-red {
    color: #E06C75;
}

.text-italic {
    font-style: italic;
}
